# Task 4: Geographic Salary Analysis

In [1]:
### Importing necessary libraries:
import pandas as pd
import numpy as np
import seaborn as sns
sns.set()
from bs4 import BeautifulSoup
import requests
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import matplotlib.patches as mpatches
import string
import re
from string import punctuation
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load the dataset
df = pd.read_csv(r'C:\Users\HP\Desktop\Digi-crome\Project-8\Data\new_cleaned_upwork_jobs_data.csv')

In [3]:
# Display the first few rows
df.head()

,title,link,published_date,is_hourly,hourly_low,hourly_high,budget,country,cleaned_job_title,average_salary,job_category,year_month,year,month
0,Experienced Media Buyer For Solar Pannel and R...,https://www.upwork.com/jobs/Experienced-Media-...,2024-02-17 09:09:54+00:00,False,15.0,30.0,500.0,Unknown,experienced media buyer solar pannel roofing i...,22.5,Other,2024-02,2024,2
1,Full Stack Developer,https://www.upwork.com/jobs/Full-Stack-Develop...,2024-02-17 09:09:17+00:00,False,15.0,30.0,1100.0,United States,full stack developer,22.5,Software Development,2024-02,2024,2
2,SMMA Bubble App,https://www.upwork.com/jobs/SMMA-Bubble-App_%7...,2024-02-17 09:08:46+00:00,True,10.0,30.0,20.0,United States,smma bubble app,20.0,Other,2024-02,2024,2
3,Talent Hunter Specialized in Marketing,https://www.upwork.com/jobs/Talent-Hunter-Spec...,2024-02-17 09:08:08+00:00,True,15.0,30.0,22.5,United States,talent hunter specialized marketing,22.5,Marketing,2024-02,2024,2
4,Data Engineer,https://www.upwork.com/jobs/Data-Engineer_%7E0...,2024-02-17 09:07:42+00:00,False,15.0,30.0,650.0,India,data engineer,22.5,Data Science,2024-02,2024,2

In [4]:
# Calculate average hourly rate
df['average_hourly_rate'] = (df['hourly_low'] + df['hourly_high']) / 2

In [5]:
# Data cleaning (remove missing values and duplicates)
df = df.dropna(subset=["country", "average_hourly_rate"])

In [6]:
# Ensure 'Country' and 'Average_Hourly_Rate' are in the correct format
df["average_hourly_rate"] = pd.to_numeric(df["average_hourly_rate"], errors='coerce')

In [7]:
# Drop rows with invalid hourly rates
df = df.dropna(subset=["average_hourly_rate"])

print(df.describe())

          hourly_low    hourly_high          budget  average_salary  \
count  244827.000000  244827.000000   244827.000000   244827.000000
mean       15.978777      34.829520      402.635224       25.404149
std        11.789505      30.955791    10255.923959       19.753803
min         3.000000       3.000000        3.000000        3.000000
25%        15.000000      30.000000       20.000000       22.500000
50%        15.000000      30.000000       25.000000       22.500000
75%        15.000000      30.000000       75.000000       22.500000
max       998.000000     999.000000  1000000.000000      998.500000

                year          month  average_hourly_rate
count  244827.000000  244827.000000        244827.000000
mean     2023.999955       2.583461            25.404149
std         0.006703       0.497785            19.753803
min      2023.000000       1.000000             3.000000
25%      2024.000000       2.000000            22.500000
50%      2024.000000       3.000000            22.500000
75%      2024.000000       3.000000            22.500000
max      2024.000000      12.000000           998.500000